@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to CM Video Store</h1>
    <p class="lead"> CM Video Store is a IT distrbution system which make renting management easy!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start your renting management by adding movies to your stock or edit/add customers.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Manage Movies &raquo;</a>
        <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Manage Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>Here you can see the latest added movies into the video store:</p>
        <p>
            All Harry Potter movies have been added to the stock!

        </p>
    </div>
</div>